#sidebar-admin ul > li {
  padding: 15px;
  transition: var(--main-duration);
}

#sidebar-admin ul > li:hover {
  cursor: pointer;
  background-color: black;
  color: var(--primary-color);
  padding-left: 20px;
  border-left: 4px solid var(--primary-color);
}

#sidebar-admin ul > .active {
  cursor: pointer;
  background-color: black;
  color: var(--primary-color);
  padding-left: 20px;
  border-left: 4px solid var(--primary-color);
}

#sidebar-admin ul > li i {
  margin-right: 16px;
  font-size: 18px;
}

@media (max-width: 767px) {
  #sidebar-admin ul > li:hover {
    border: none;
    padding-left: 15px;
  }
  #sidebar-admin img {
    display: none;
  }
}
