#sidebar-admin {
  background-color: #272c33;
  height: 100vh;
  width: 18%;
  min-height: 100%;
}

#sidebar-admin .logo {
  width: 115px;
}

@media (max-width: 767px) {
  #sidebar-admin {
    width: 50px;
    overflow: hidden;
  }
  #sidebar-admin img {
    display: none;
  }
}
